body{
  margin: 0;
}

.App {

}

.layer-one{
    background-image: linear-gradient(90deg, #c074b2, #8ab5e8);
    width: 100%;
    height: 100%;
    position: absolute;
}

.layer-two{
    background-image: linear-gradient(transparent, #000);
    width: 100%;
    height: 100%;
    position: absolute;
}